:root {
    /* Primary Brand Color */
    --primary-color: #8031A7;
    --primary-color-400: #A555CD;
    --primary-color-300: #B471D5;
    --primary-color-200: #C38DDE;
    --primary-color-100: #E1C6EEFF;
    --primary-color-50: rgba(225, 198, 238, 0.5);

    /* Secondary Brand Color */
    --secondary-color: #4AA571;
    --secondary-color-300: #72C796;
    --secondary-color-200: #A6E7C1;
    --secondary-color-100: #DCF3E6FF;
    --secondary-color-50: rgba(220, 243, 230, 0.5);

    /* Text Color */
    --tertiary-color: #4A4A68;
    --tertiary-color-300: #8C8CA1;
    --tertiary-color-200: #ECF1F4;
    --tertiary-color-100: #FAFCFE;
    --tertiary-color-50: #F5F8F9;

    --danger-color: #E65E69;
    --white-color:#FFFFFFFF;

    --alt-secondary: #00A8B4;
    --alt-primary-color: #FDC210;
    --alt-primary-color-100: rgba(253, 194, 16, 0.25);

    /* Font Weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    /* Spacing */
    --xs: 8px;
    --sm: 16px;
    --mid:24px;
    --md: 32px;
    --lg: 40px;
    --xl: 48px;
    --xxl: 56px;

    --font-open-sans:'Open Sans';
    --font-rubik:'Rubik'

}

* {
    box-sizing: border-box;
}


/*-----------------------------TYPOGRAPHY------------------------*/

/* Font family with weight */
.open-sans-regular {
    font-family: 'Open Sans';
    font-weight: 400;
}

.open-sans-medium {
    font-family: 'Open Sans';
    font-weight: 500;
}

.rubik-medium {
    font-family: 'Rubik';
    font-weight: 500;
}

.rubik-semibold {
    font-family: 'Rubik';
    font-weight: 600;
}

.rubik-bold {
    font-family: 'Rubik';
    font-weight: 700;
}

.tertiary-color-text {
    color: var(--tertiary-color) !important;
}

.tertiary-color-100-text {
    color: var(--tertiary-color-100) !important;
}


.tertiary-color-200-text {
    color: var(--tertiary-color-200) !important;
}

.tertiary-color-300-text {
    color: var(--tertiary-color-300) !important;
}

.primary-color-text {
    color: var(--primary-color) !important;
}

.alt-primary-color-text {
    color: var(--alt-primary-color)
}

.alt-secondary-color-text {
    color: var(--alt-secondary)
}

.secondary-color-text {
    color: var(--secondary-color) !important;
}

.danger-color-text {
    color: var(--danger-color) !important;
}

.white-color-text {
    color: #FFFFFF !important;
}

a:-webkit-any-link{
    text-decoration: none;
    color: inherit;
}

.tertiary-color-300-text {
    color: var(--tertiary-color-300) !important;
}

.background-primary {
    background-color: var(--primary-color);
}

.background-primary-400 {
    background-color: var(--primary-color-400);
}
.background-primary-300 {
    background-color: var(--primary-color-300);
}
.background-primary-200 {
    background-color: var(--primary-color-200);
}
.background-primary-100 {
    background-color: var(--primary-color-100);
}

.background-alt-primary {
    background-color: var(--alt-primary-color);
}

.background-alt-secondary {
    background-color: var(--alt-secondary);
}

.background-primary-50 {
    background-color: #E1C6EE80;
}

.background-secondary {
    background-color: var(--secondary-color);
}

.background-secondary-300 {
    background-color: var(--secondary-color-300) !important;
}

.background-secondary-200 {
    background-color: var(--secondary-color-200);
}

.background-secondary-100 {
    background-color: var(--secondary-color-100);
}

.background-alt-primary-100 {
    background-color: var(--alt-primary-color-100);
}

.background-secondary-50 {
    background-color: #DCF3E680;
}

.background-tertiary {
    background-color: var(--tertiary-color);
}

.background-tertiary-200 {
    background-color: var(--tertiary-color-200);
}

.background-tertiary-300 {
    background-color: var(--tertiary-color-300);
}

.background-tertiary-100 {
    background-color: var(--tertiary-color-100) !important;
}

.background-tertiary-50 {
    background-color: #ECF1F480;
}

.background-white {
    background-color: #FFFFFF !important;
}

.background-black {
    background-color: #000000 !important;
}

.background-danger {
    background-color: var(--danger-color);
}

.primary-border {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}

.secondary-border {
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
}

.tertiary-border {
    border: 1px solid var(--tertiary-color);
    border-radius: 8px;
}

.danger-border{
    border: 1px solid var(--danger-color);
    border-radius: 8px;
}



.text-large {
    font-family: 'Rubik', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 120%;
}

.text-title {
    font-family: 'Rubik' , sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
}

.text-title2 {
    font-family: 'Rubik' , sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
}

.text-title3 {
    font-family: 'Rubik' , sans-serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
}

.text-body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
}

.text-shortcopy {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
}

.text-shortcopy2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
}


.text-button {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
}

.text-impact {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
}

.text-subtitle {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 120%;
}

.text-smallcta {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
}

a.text-smallcta {
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    color: #FFFFFF !important;
    padding: 8px 40px;
    border: none;
    border-radius: 22px !important;
    text-align: center;
    font-weight: 600 !important;
}

.btn-primary:hover {
    background-color: var(--primary-color-400) !important;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.btn-primary:focus,.btn-primary:active  {
    /*background-color: var(--primary-color-400) !important;*/
    box-shadow: none !important;
    border: none !important;
    background-color: var(--primary-color); !important;

}

.btn-primary.disabled, .btn-primary:disabled{
    background-color: var(--primary-color);
    opacity: 0.5;
    cursor: not-allowed;
    color: #FFFFFF;
}

.btn-primary.disabled:hover {
    background-color: var(--primary-color) !important;
    opacity: 0.5;
    transition: all 0.3s ease, color 0.3s ease;
}

.btn-secondary-hollow.disabled,.btn-secondary-hollow:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-secondary {
    color: var(--secondary-color)!important;
    background-color: var(--white-color);
    padding: var(--sm);
    border: none;
    border-radius: var(--md);
}

.btn-secondary.disabled {
    background-color: var(--white-color) !important;
    cursor: not-allowed;
}

.btn-secondary-hollow {
    color: var(--secondary-color) !important;
    background-color: #FFFFFF;
    border: 2px solid var(--secondary-color);
    border-radius: var(--md);
    padding: 6px 36px;
    font-weight: 600!important;
    cursor: pointer;
}

.btn-secondary-fill {
    background-color: var(--secondary-color);
    color: #FFFFFF;
    padding: var(--sm);
    border: none;
    border-radius: var(--md);
}

.btn-secondary:active,.btn-secondary:hover,.btn-secondary:focus {
    color: var(--secondary-color)!important;
    background-color: var(--white-color) !important;
    /*padding: var(--sm);*/
    border: none;
    box-shadow: none;
}

.cta-secondary {
    color: var(--secondary-color) !important;
    border: none;
    outline: none;
    background: inherit;
    font-family: 'Rubik', sans-serif !important;
    font-weight: 600;
}

.cta-secondary:hover {
    color: var(--secondary-color) !important;
    border: none;
    outline: none;
    background: inherit;
    transition: all 0.3s ease, color 0.3s ease;

}

.underline-effect {
    display: inline-block;
    position: relative;
    /*padding-bottom: 0.25rem;*/
}

.underline-effect:hover {
    color: var(--secondary-color) !important;
    transition: color 0.3s ease, color 0.3s ease;

}

.position-relative {
    position: relative;
}

.w-100 {
    width: 100% !important;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.w-auto {
    width: auto;
}

.h-100vh {
    height: 100vh;
}

.h-90vh {
    height: 90vh;
}

.h-100 {
    height: 100%;
}

.h-80 {
    height: 80%;
}

.h-60 {
    height: 60%;
}

.h-50 {
    height: 50%;
}

.h-40 {
    height: 40%;
}

.h-20 {
    height: 20%;
}

.h-auto {
    height: auto;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mt-auto {
    margin-top: auto;
}

.m-auto {
    margin: auto;
}

.m-xs {
    margin: var(--xs) !important;
}

.m-sm {
    margin: var(--sm) !important;
}

.m-mid {
    margin: var(--mid) !important;
}

.m-md {
    margin: var(--md) !important;
}

.m-lg {
    margin: var(--lg) !important;
}

.m-xl {
    margin: var(--xl) !important;
}

.m-xxl {
    margin: var(--xxl) !important;
}

.my-xs {
    margin-top: var(--xs) !important;
    margin-bottom: var(--xs) !important;
}

.my-sm {
    margin-top: var(--sm) !important;
    margin-bottom: var(--sm) !important;
}

.my-md {
    margin-top: var(--md) !important;
    margin-bottom: var(--md) !important;
}

.my-lg {
    margin-top: var(--lg) !important;
    margin-bottom: var(--lg) !important;
}

.my-xl {
    margin-top: var(--xl) !important;
    margin-bottom: var(--xl) !important;
}

.my-xxl {
    margin-top: var(--xxl) !important;
    margin-bottom: var(--xxl) !important;
}

.mt-xs {
    margin-top: var(--xs) !important;
}

.mt-sm {
    margin-top: var(--sm) !important;
}

.mt-md {
    margin-top: var(--md) !important;
}

.mt-mid {
    margin-top: var(--mid) !important;
}

.mt-lg {
    margin-top: var(--lg) !important;
}

.mt-xl {
    margin-top: var(--xl) !important;
}

.mt-xxl {
    margin-top: var(--xxl) !important;
}

.mb-xs {
    margin-bottom: var(--xs) !important;
}

.mb-sm {
    margin-bottom: var(--sm) !important;
}

.mb-mid {
    margin-bottom: var(--mid) !important;
}

.mb-md {
    margin-bottom: var(--md) !important;
}

.mb-lg {
    margin-bottom: var(--lg) !important;
}

.mb-xl {
    margin-bottom: var(--xl) !important;
}

.mb-xxl {
    margin-bottom: var(--xxl) !important;
}

.p-xs {
    padding: var(--xs) !important;
}

.p-sm {
    padding: var(--sm) !important;
}

.p-md {
    padding: var(--md) !important;
}

.p-mid {
    padding: var(--mid) !important;
}

.p-lg {
    padding: var(--lg) !important;
}

.p-xl {
    padding: var(--xl) !important;
}

.p-xxl {
    padding: var(--xxl) !important;
}

.pt-xs {
    padding-top: var(--xs) !important;
}

.pt-sm {
    padding-top: var(--sm) !important;
}

.pt-md {
    padding-top: var(--md) !important;
}

.pt-mid {
    padding-top: var(--mid) !important;
}

.pt-lg {
    padding-top: var(--lg) !important;
}

.pt-xl {
    padding-top: var(--xl) !important;
}

.pt-xxl {
    padding-top: var(--xxl) !important;
}

.pl-xs {
    padding-left: var(--xs) !important;
}

.pl-sm {
    padding-left: var(--sm) !important;
}

.pl-md {
    padding-left: var(--md) !important;
}

.pl-mid {
    padding-left: var(--mid) !important;
}

.pl-lg {
    padding-left: var(--lg) !important;
}

.pl-xl {
    padding-left: var(--xl) !important;
}

.pl-xxl {
    padding-left: var(--xxl) !important;
}

.pr-xs {
    padding-right: var(--xs) !important;
}

.pr-sm {
    padding-right: var(--sm) !important;
}

.pr-md {
    padding-right: var(--md) !important;
}

.pr-mid {
    padding-right: var(--mid) !important;
}

.pr-lg {
    padding-right: var(--lg) !important;
}

.pr-xl {
    padding-right: var(--xl) !important;
}

.pr-xxl {
    padding-right: var(--xxl) !important;
}

.pb-xs {
    padding-bottom: var(--xs) !important;
}

.pb-sm {
    padding-bottom: var(--sm) !important;
}

.pb-md {
    padding-bottom: var(--md) !important;
}

.pb-mid {
    padding-bottom: var(--mid) !important;
}

.pb-lg {
    padding-bottom: var(--lg) !important;
}

.pb-xl {
    padding-bottom: var(--xl) !important;
}

.pb-xxl {
    padding-bottom: var(--xxl) !important;
}

.py-xs {
    padding-top: var(--xs) !important;
    padding-bottom: var(--xs) !important;
}

.py-sm {
    padding-top: var(--sm) !important;
    padding-bottom: var(--sm) !important;
}

.py-mid {
    padding-top: var(--mid) !important;
    padding-bottom: var(--mid) !important;
}

.py-md {
    padding-top: var(--md) !important;
    padding-bottom: var(--md) !important;
}

.py-lg {
    padding-top: var(--lg) !important;
    padding-bottom: var(--lg) !important;
}

.py-xl {
    padding-top: var(--xl) !important;
    padding-bottom: var(--xl) !important;
}

.py-xxl {
    padding-top: var(--xxl) !important;
    padding-bottom: var(--xxl) !important;
}

.px-xs {
    padding-left: var(--xs) !important;
    padding-right: var(--xs) !important;
}

.px-sm {
    padding-left: var(--sm) !important;
    padding-right: var(--sm) !important;
}

.px-mid {
    padding-left: var(--mid) !important;
    padding-right: var(--mid) !important;
}

.px-md {
    padding-left: var(--md) !important;
    padding-right: var(--md) !important;
}

.px-lg {
    padding-left: var(--lg) !important;
    padding-right: var(--lg) !important;
}

.px-xl {
    padding-left: var(--xl) !important;
    padding-right: var(--xl) !important;
}

.px-xxl {
    padding-left: var(--xxl) !important;
    padding-right: var(--xxl) !important;
}



.text-align-center {
    text-align: center !important;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-stretch {
    align-items: stretch;
}


.align-items-end {
    align-items: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-around {
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-grid {
    display: grid;
}

.pill-secondary {
    background-color: var(--secondary-color);
    color: var(--tertiary-color-200);
    padding: var(--xs);
    border-radius: 20px;
}

.pill-white {
    background-color: var(--tertiary-color-200);
    color: var(--tertiary-color);
    padding: var(--xs);
    border-radius: 5px;
}

.sk-text-input {
    outline: 0;
    border: none;
    border-radius: 50px;
    font-size: 22px;
    background-color: var(--tertiary-color-200);
    color: var(--tertiary-color)
}

.sk-text-input:focus ,.sk-text-input:active  {
    outline: none;
    border:0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 24px;
    font-size: 1rem;
    line-height: 120%;

}
::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 24px;
    font-size: 1rem;
    line-height: 120%;
}
:-ms-input-placeholder { /* IE 10+ */
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 24px;
    font-size: 1rem;
    line-height: 120%;
}
:-moz-placeholder { /* Firefox 18- */
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 24px;
    font-size: 1rem;
    line-height: 120%;
}

.seekho-checkbox {
    display: block;
    margin-right: 15px;
}

.seekho-checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.seekho-checkbox label {
    position: relative;
    cursor: pointer;
}

.seekho-checkbox label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    padding: 7px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 0.5rem;
}

.seekho-checkbox input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: 10px;
    width: 6px;
    height: 14px;
    background-color: #FFFFFF;
    border: solid var(--secondary-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* The container */
.seekho-radio-label {
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.seekho-radio-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.seekho-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: red;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.seekho-radio-label:hover input ~ .seekho-radio {
    background-color: yellow;
}

/* When the radio button is checked, add a blue background */
.seekho-radio-label input:checked ~ .seekho-radio {
    background-color: pink;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.seekho-radio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.seekho-radio-label input:checked ~ .seekho-radio:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.seekho-radio-label .seekho-radio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: red;
}

.border-radius-1 {
    border-radius: 8px;
}

.border-radius-2 {
    border-radius: 16px;
}

.border-radius-3 {
    border-radius: 24px;
}

@media (max-width: 768px) {
    .text-large {
        font-size: 32px;
        line-height: 120%;
    }


    .text-title {
        font-size: 24px;
        line-height: 120%;
    }

    .text-title2 {
        font-family: 'Rubik';
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
    }

    .text-title3 {
        font-size: 14px;
        line-height: 120%;
    }

    .text-smallcta {
        font-size: 12px;
        line-height: 120%;
    }

    .text-body {
        font-size: 14px !important;
        line-height: 160%;
    }

    .text-shortcopy {
        font-size: 12px !important;
        line-height: 160%;
    }

    .text-shortcopy2 {
        font-size: 10px !important;
        line-height: 160%;
    }

    .text-impact {
        font-size: 24px;
        line-height: 120%;
    }

    .text-subtitle {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 120%;
    }

    .text-button {
        font-weight: 600;
        font-size: 16px !important;
        line-height: 120%;
    }

    .grid-50-50-col {
        grid-template-rows: 1fr 1fr;
    }

    .underline-effect:hover::after {
        top: 2px;
    }

}

.overflow-hidden { overflow: hidden; }



@media (min-width: 768px) {

    .m-md-xs {
        margin: 8px!important
    }

    .mt-md-xs,.my-md-xs {
        margin-top: 8px!important
    }

    .mr-md-xs,.mx-md-xs {
        margin-right: 8px!important
    }

    .mb-md-xs,.my-md-xs {
        margin-bottom: 8px!important
    }

    .ml-md-xs,.mx-md-xs {
        margin-left: 8px!important
    }

    .m-md-sm {
        margin: 16px!important
    }

    .mt-md-sm,.my-md-sm {
        margin-top: 16px!important
    }

    .mr-md-sm,.mx-md-sm {
        margin-right: 16px!important
    }

    .mb-md-sm,.my-md-sm {
        margin-bottom: 16px!important
    }

    .ml-md-sm,.mx-md-sm {
        margin-left: 16px!important
    }

    .m-md-md {
        margin: 32px!important
    }

    .mt-md-md,.my-md-md {
        margin-top: 32px!important
    }

    .mt-mid-md,.my-mid-md {
        margin-top: 24px!important
    }

    .mr-md-md,.mx-md-md {
        margin-right: 32px!important
    }

    .mb-md-md,.my-md-md {
        margin-bottom: 32px!important
    }

    .mb-mid-md,.my-mid-md {
        margin-bottom: 24px!important
    }

    .ml-md-md,.mx-md-md {
        margin-left: 32px!important
    }

    .m-md-lg {
        margin: 40px!important
    }

    .mt-md-lg,.my-md-lg {
        margin-top: 40px!important
    }

    .mr-md-lg,.mx-md-lg {
        margin-right: 40px!important
    }

    .mb-md-lg,.my-md-lg {
        margin-bottom: 40px!important
    }

    .ml-md-lg,.mx-md-lg {
        margin-left: 40px!important
    }

    .m-md-xl {
        margin: 48px!important
    }

    .mt-md-xl,.my-md-xl {
        margin-top: 48px!important
    }

    .mr-md-xl,.mx-md-xl {
        margin-right: 48px!important
    }

    .mb-md-xl,.my-md-xl {
        margin-bottom: 48px!important
    }

    .ml-md-xl,.mx-md-xl {
        margin-left: 48px!important
    }

    .m-md-xxl {
        margin: 56px!important
    }

    .mt-md-xxl,.my-md-xxl {
        margin-top: 56px!important
    }

    .mr-md-xxl,.mx-md-xxl {
        margin-right: 56px!important
    }

    .mb-md-xxl,.my-md-xxl {
        margin-bottom: 56px!important
    }

    .ml-md-xxl,.mx-md-xxl {
        margin-left: 56px!important
    }
}

@media (min-width: 768px) {
    .p-md-xs {
        padding: 8px !important;
    }

    .pt-md-xs,
    .py-md-xs {
        padding-top: 8px !important;
    }

    .pr-md-xs,
    .px-md-xs {
        padding-right: 8px !important;
    }

    .pb-md-xs,
    .py-md-xs {
        padding-bottom: 8px !important;
    }

    .pl-md-xs,
    .px-md-xs {
        padding-left: 8px !important;
    }

    .p-md-sm {
        padding: 16px !important;
    }

    .pt-md-sm,
    .py-md-sm {
        padding-top: 16px !important;
    }

    .pr-md-sm,
    .px-md-sm {
        padding-right: 16px !important;
    }

    .pb-md-sm,
    .py-md-sm {
        padding-bottom: 16px !important;
    }

    .pl-md-sm,
    .px-md-sm {
        padding-left: 16px !important;
    }

    .p-md-md {
        padding: 32px !important;
    }

    .pt-md-md,
    .py-md-md {
        padding-top: 32px !important;
    }

    .pt-mid-md,
    .py-mid-md {
        padding-top: 24px !important;
    }

    .pr-md-md,
    .px-md-md {
        padding-right: 32px !important;
    }

    .pb-md-md,
    .py-md-md {
        padding-bottom: 32px !important;
    }

    .pb-mid-md,
    .py-mid-md {
        padding-bottom: 24px !important;
    }

    .pl-md-md,
    .px-md-md {
        padding-left: 32px !important;
    }

    .p-md-lg {
        padding: 40px !important;
    }

    .pt-md-lg,
    .py-md-lg {
        padding-top: 40px !important;
    }

    .pr-md-lg,
    .px-md-lg {
        padding-right: 40px !important;
    }

    .pb-md-lg,
    .py-md-lg {
        padding-bottom: 40px !important;
    }

    .pl-md-lg,
    .px-md-lg {
        padding-left: 40px !important;
    }

    .p-md-xl {
        padding: 48px !important;
    }

    .pt-md-xl,
    .py-md-xl {
        padding-top: 48px !important;
    }

    .pr-md-xl,
    .px-md-xl {
        padding-right: 48px !important;
    }

    .pb-md-xl,
    .py-md-xl {
        padding-bottom: 48px !important;
    }

    .pl-md-xl,
    .px-md-xl {
        padding-left: 48px !important;
    }

    .p-md-xxl {
        padding: 56px !important;
    }

    .pt-md-xxl,
    .py-md-xxl {
        padding-top: 56px !important;
    }

    .pr-md-xxl,
    .px-md-xxl {
        padding-right: 56px !important;
    }

    .pb-md-xxl,
    .py-md-xxl {
        padding-bottom: 56px !important;
    }

    .pl-md-xxl,
    .px-md-xxl {
        padding-left : 56px !important;
    }
}

