body {
  background-color: transparent;
}
.container {
  color: #314d3e;
}

.btn-secondary-hollow {
  padding: 6px 28px;
}

#chatHeader .dropdown-toggle::after{
  display: none;
}

input.error {
  border: 1px solid red;
  color: red;
  background: #ffe1e1;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #8031A7;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #8031A7;
}

.dropdown-item {
  padding: 0.40rem 1.5rem;
}

.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #8031A7;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 500ms linear infinite;
  animation: spin 500ms linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#questionCard .option-content.correct {
  background-color: rgb(220, 243, 230);
  border: 1px solid green !important;
}

#chatContainer .modal {
  background: rgb(0, 0, 0, 0.3);
  padding-left: 10px;
}

#chatContainer .modal-dialog {
  margin-top: 50%;
}

#chatContainer img.cover-image {
  height: 190px;
}

#chatContainer .swiper-wrapper {
  padding: 0 3px;
}

#chatContainer .share-button {
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}

.textbox {
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0px 2px;
}

.textbox:focus {
  outline: 0;
  border-color: #C38DDE;
}

.card {
  border: none;
}

.google-btn {
  margin: auto;
  display: flex;
  color: var(--tertiary-color) !important;
  padding: 2px 30px 2px 30px!important;
  justify-content: center;
  align-items: center;
  width: fit-content;
  box-shadow: 1px 2px 19px 1px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.google-btn img {
  height: 32px;
  padding: 4px;
}

.google-btn:disabled .spinner-border {
  display: inline-block;
}

.google-btn .spinner-border {
  display: none;
}

.leader-header {
  text-align: center;
}

.leader-header p {
  margin-bottom: 0;
}


.leader-header > div {
  margin-top: 20px;
}

.leader-header-content {
  font-weight: 600;
  font-size: 20px;
}

.btn-primary {
  background-color: #8031A7;
}

.loading-interview-container, .loading-error-container, .interview-info-container {
  background-color: #8031A7;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 0;
}

.loading-interview-container, .interview-info-container {
  flex-direction: column;
}

.loading-error-container, .interview-info-container {
  background-color: #ffffff;
}

.seekho-round-logo {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50px;
  padding: 10px;
}

.seekho-round-square {
  width: 56px;
  height: 56px;
  background: white;
  border-radius: 8px;
  box-shadow: -1px 2px 6px 2px rgba(0, 0, 0, 0.05);
  padding: 8px;
}

.absolute-div {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: #00000063;
  align-items: center;
  display: flex;
  left: 0;
  top: 0;
}

#chat1 .pre-wrap {
  white-space: pre-wrap;
  word-break: break-word;
}

#chat1 .card-body {
  position: relative;
}

#chat1 .card-body .horizontal-scroll {
  flex-direction: row; display: flex; overflow: auto; padding: 10px; column-gap: 15px;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

#chat1 .card-body .horizontal-scroll::-webkit-scrollbar {
  display: none;
}

#chat1 .form-outline .form-control ~ .form-notch div {
  pointer-events: none;
  border: 1px solid;
  border-color: #eee;
  box-sizing: border-box;
  background: transparent;
}

#chat1 .form-outline .form-control ~ .form-notch .form-notch-leading {
  left: 0;
  top: 0;
  height: 100%;
  border-right: none;
  border-radius: .65rem 0 0 .65rem;
}

#chat1 .form-outline .form-control ~ .form-notch .form-notch-middle {
  flex: 0 0 auto;
  max-width: calc(100% - 1rem);
  height: 100%;
  border-right: none;
  border-left: none;
}

#chat1 .form-outline .form-control ~ .form-notch .form-notch-trailing {
  flex-grow: 1;
  height: 100%;
  border-left: none;
  border-radius: 0 .65rem .65rem 0;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-leading {
  border-top: 0.125rem solid #39c0ed;
  border-bottom: 0.125rem solid #39c0ed;
  border-left: 0.125rem solid #39c0ed;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-leading,
#chat1 .form-outline .form-control.active ~ .form-notch .form-notch-leading {
  border-right: none;
  transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-middle {
  border-bottom: 0.125rem solid;
  border-color: #39c0ed;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-middle,
#chat1 .form-outline .form-control.active ~ .form-notch .form-notch-middle {
  border-top: none;
  border-right: none;
  border-left: none;
  transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border-top: 0.125rem solid #39c0ed;
  border-bottom: 0.125rem solid #39c0ed;
  border-right: 0.125rem solid #39c0ed;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-trailing,
#chat1 .form-outline .form-control.active ~ .form-notch .form-notch-trailing {
  border-left: none;
  transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus ~ .form-label {
  color: #39c0ed;
}

#chat1 .form-outline .form-control ~ .form-label {
  color: #bfbfbf;
}

#chat1 .chat-textarea-wrapper {
  background: white;
  padding: 12px;
  border-radius: 4px;
}

#chat1 .chat-textarea {
  border: none;
  resize: none;
  font-size: 14px;
  padding: 0;
  margin-bottom: 16px;
}

#chat1 .chat-textarea:focus {
  box-shadow: none;
  outline: none;
}

#chat1 .chat-textarea-wrapper:focus-within {
  box-shadow: 1px 4px 9px 2px rgba(0, 0, 0, 0.06);
  outline: none;
}

.rating-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating-container label {
  display: inline-block;
  cursor: pointer;
  color: #ddd;
  margin: 0;
  margin-right: -2px !important;
}

.rating-box {
  background: white;
  width: 80%;
  margin: auto;
  border-radius: 8px;
  padding: 24px;
  position: relative;
}

.rating-box h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.rating-box h5 {
  font-size: 16px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
}

.rating-pill {
  padding: 4px 16px;
  border: 1px solid;
  border-radius: 20px;
  font-size: 14px;
  flex: 1 1 auto;
  text-align: center;
  cursor: pointer;
}

.rating-pill:hover {
  background: #ddd;
}

.rating-container label:hover, .rating-container label:hover ~ label, .rating-container label.selected-rating, .rating-container label.selected-rating ~ label {
  color: #8031A7;
}

.rating-container label:before {
  content: "\2605";
  font-size: 40px;
  line-height: 1;
}

.sk-text-input {
  font-size: 18px;
}

.upper-container {
  min-height: 250px;
  background: #F6F9FD;
}

.profile-photos {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  padding-left: 3px;
}

.typing {
  padding: 10px;
  width: 75px;
  height: 40px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing span {
  content: '';
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50px;
  background-color: #401a77;
  margin: auto 0.2em;
  animation: bounce 0.5s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-delay: 0s;
}

.typing span:nth-child(2) {
  animation-delay: 0.25s;
}
.typing span:last-child {
  animation-delay: 0.5s;
}

.progress-bar-value {
  width: 100%;
  height: 100%;
  background-color: rgb(5, 114, 206);
  animation: indeterminateAnimation 1s infinite linear;
  transform-origin: 0% 50%;
}

@keyframes indeterminateAnimation {
  0% {
    transform:  translateX(0) scaleX(0);
  }
  40% {
    transform:  translateX(0) scaleX(0.4);
  }
  100% {
    transform:  translateX(100%) scaleX(0.5);
  }
}


@keyframes bounce {
  0% {
    margin-bottom: 1px;
  }

  25% {
    margin-bottom: 4px;
  }

  50% {
    margin-bottom: 7px;
  }

  75% {
    margin-bottom: 10px;
  }

  100% {
    margin-bottom: 14px;
  }
}

@media (max-width: 768px){
  .seekho-round-square {
    width: 48px;
    height: 48px;
  }
}